<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>

      </button>
      <li class="active"><a href="#"><img src="https://dev.w3.org/SVG/tools/svgweb/samples/svg-files/ca.svg" style="width:25px;" class="w3-hover-opacity"></a></li>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">

        <li class="visible-xs-block">
          <form role="search" style="width: 15em; padding: 10px 15px 10px 15px;">
            <div class="input-group">
              <div class="input-group-btn">
                <button type="submit" class="btn btn-default">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </div>
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </form>
        </li>
        <li><a href="#about" style="width:65px">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="hidden-xs">
          <form role="search" style="width: 15em; margin: 0.3em 2em;">
            <div class="input-group">
              <div class="input-group-btn">
                <button type="submit" class="btn btn-default">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </div>
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </form>
        </li>
        <li><a href="#signUp">Sign Up</a></li>
        <li><a href="#login">Login</a></li>
      </ul>
    </div>
  </div>
</nav>
